<html>
    <head>
        <title>Manage pads</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <link rel="stylesheet" href="../static/css/admin.css">
        
        <% e.begin_block("scripts"); %>
        <script src="../static/js/jquery.js"></script>
        <% e.end_block(); %>
        
        <script type="text/javascript">
            var clientVars = {};
            (function() {
                var pathComponents = location.pathname.split('/');
                
                var baseURL = pathComponents.slice(0, pathComponents.length-2).join('/') + '/';
                
                var plugins = require('ep_etherpad-lite/static/js/pluginfw/client_plugins');
                var hooks = require('ep_etherpad-lite/static/js/pluginfw/hooks');
                
                plugins.baseURL = baseURL;
                plugins.update(function() {
                    hooks.plugins = plugins;
                    
                    $(function() {
                        hooks.aCallAll('documentReady', 'admin/managepads');
                    });
                });
            }());
        </script>
    </head>
    <body>
        <div id="wrapper">
        
            <% if (errors.length) { %>
                <div class="errors">
                    <% errors.forEach(function (item) { %>
                        <div class="error"><%= item.toString() %></div>
                    <% }) %>
                </div>
            <% } %>
        
            <div class="menu">
                <h1>Etherpad lite</h1>
                <ul> 
                    <% e.begin_block("adminMenu"); %>
                        <li><a href="plugins">Plugin manager</a> </li>
                        <li><a href="settings">Settings</a> </li>
                        <li><a href="plugins/info">Troubleshooting information</a> </li>
                    <% e.end_block(); %>
                </ul>
                <div id="progress"><img src="../static/img/loading.gif" alt=""/>&nbsp;&nbsp;<span class="message"></span></div>
            </div>
        </div>
        
    </body>
</html>